<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Summit" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <!-- Favicons -->
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('favicons/summit_favicon-16x16.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path('favicons/summit_favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="48x48" href="<%= image_path('favicons/summit_favicon-48x48.png') %>">
    <link rel="icon" type="image/png" sizes="64x64" href="<%= image_path('favicons/summit_favicon-64x64.png') %>">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= image_path('favicons/summit_favicon-96x96.png') %>">
    <link rel="icon" type="image/png" sizes="128x128" href="<%= image_path('favicons/summit_favicon-128x128.png') %>">
    <link rel="icon" type="image/png" sizes="192x192" href="<%= image_path('favicons/summit_favicon-192x192.png') %>">
    <link rel="icon" type="image/png" sizes="256x256" href="<%= image_path('favicons/summit_favicon-256x256.png') %>">
    
    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('favicons/summit_favicon-192x192.png') %>">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="min-h-screen flex flex-col">
    <div class="flex-1">
      <% if notice %>
        <div class="bg-green-500 text-white text-center py-2 px-4">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="bg-red-500 text-white text-center py-2 px-4">
          <%= alert %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
